.navbar {
  width: 100vw;
  /* height: 107px; */
  padding: 24px 80px;
}

.nav {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* TABLET */

@media (max-width: 768px) {
  .navbar {
    padding: 24px 44px;
  }
}

/* PHONE */

@media (max-width: 375px) {
  .navbar {
    padding: 16px 20px;
  }
}